

.image-post{ 
    background: whitesmoke;
    border: 1px solid black;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
   
}
.image{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid black;
}
.title-author{
    display:flex;
    justify-content: space-between;
    flex: wrap;
}
.author{
    font-size: smaller;
}